@import '../iconfont/iconfont.css';

.editor {
  width: 100%;
  height: 100%;

  &-left,
  &-right {
    position: absolute;
    width: 270px;
    background-color: palegoldenrod;
    top: 0;
    bottom: 0;
  }

  &-left {
    left: 0;

    &-item {
      width: 250px;
      height: 100px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      position: relative;

      >span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(96, 205, 244);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.2;
      }
    }
  }

  &-right {
    right: 0;
  }

  &-top {
    position: absolute;
    height: 80px;
    right: 280px;
    left: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-button{
     width: 60px;
     height: 60px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: rgba(0,0,0,.3);
     color: #fff;
     user-select: none;
     cursor: pointer;
     &+&{
      margin-left: 3px;
     }
    }
  }

  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: scroll;
      height: 100%;

      &_content {
        margin: 20px auto;
        width: 550px;
        height: 550px;
        background-color: #dbc770;
        position: relative;
      }
    }
  }
}

.editor-block {
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.editor-block-focus {

  &::after {
    border: 3px dashed #f00;
  }
}
.edit-block-preview{
  &::after {
   display: none;
  }
}
// 移动的left
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red
}

// 移动的top
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red
}

// dropdown
.dropdown{
  display: none;
  position: absolute;
  background: #fff;
  box-shadow:  2px 2px #ccc;
}
.dropdown-isShow{
  display: block;
}
.dropdown-item{
  line-height: 30px;
  width: 100px;
  border-bottom: 1px solid #000;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.el-button{
  transition: none;
}
.range{
  display: inline-flex;
  width: 220px;
  min-height: 20px;
  align-items: center;
  input{
    flex: 1;
    width: 100%;
    height: 100%;
  }
  span{
    margin: 0 4px;
    display: inline-flex;
  }
}

